<div class="drag-mask" [ngClass] = "{ 'hidden_mask':hide , 'display_mask': !hide }" [id] = "dargMaskId"></div>
<div ngDraggable (started) = "dragStarted($event)"
    (stopped)="dragEnded($event)"
    [position] = "containerPosition"
    (movingOffset)="draggingShape($event)"
    (endOffset) = "changeExacPos($event)"
    [scale] = "scaleValueforTool"
    >
    <ng-container #rectangleLinesContainer>

    </ng-container>
    <a class="edit-option" *ngIf="rectangleDisplayed" [ngStyle] = "{'position': 'absolute', 'top': (exactPos[0].endY + 6)+'px' , 'left': (resizeXCoordinate + 6)+'px',
    'width': '20px', 'height': '20px',
    'border-radius': '44%','font-size': '12px', 'color': 'white' , 'background-color': valuesBackgroundColor , 'padding': '0.4px 0px 0px 4.65px' }">
        <span class="fa fa-expand" (click) = "activateDrawingRectangle()" ></span>
    </a>
    <span *ngIf="exactPos[0].endX" [ngStyle]="{'position': 'absolute', 'top':exactPos[0].endY+'px', 'left':exactPos[0].endX+'px', 'pointer-events': 'none',
        'margin': '1px',
        'padding': '5px',
        'font-size': '12px',
        'width': '97px',
        'color': 'white',
        'text-align': 'center',
        'background-color': valuesBackgroundColor }"
        >
        {{ 'X: '+exactPos[0].offsetX + ',&nbsp; Y: ' + exactPos[0].offsetY + ',&nbsp; L: '+ exactPos[0].width + ',&nbsp; H: ' + exactPos[0].height  }}
    </span>


</div>
